{{#if @isVisible}}
  <p class="text--h6">Show columns</p>
  <FbfCheckbox @value={{this.showCompetitions}}>
    Competitions
  </FbfCheckbox>
  <FbfCheckbox @value={{this.showTravelTime}}>
    Travel time
  </FbfCheckbox>
{{/if}}
