<div class="fbf-page fbf-page--fullscreen rt-races">
  <div class="fbf-layout__center-column fbf-layout__center-column--margin-vertical">
    <div class="fbf-card--base border-radius-sm content-padding-lg text--centered">
      <h1 class="text--h2 text--thin">
        Runs overview
      </h1>
      {{outlet}}
    </div>
  </div>
</div>

{{outlet}}
